apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kubernetes_ca_certificate_data }}
    server: https://{{ kubernetes_api_host }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet
current-context: kubelet
kind: Config
preferences: {}
users:
- name: kubelet
  user:
    token: {{ kubernetes_kubelet_bootstrap_token }}
